Source: steam
Section: games
Priority: optional
Maintainer: Valve Corporation <linux@steampowered.com>
Build-Depends: debhelper (>= 8.0.0),
               python-all (>= 2.6.6-3~)
Standards-Version: 3.9.4
Homepage: http://www.steampowered.com/

Package: steam
Architecture: i386
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${python:Depends},
         curl,
         libc6 (>= 2.15),
         python-apt,
         xterm | gnome-terminal | konsole,
         xz-utils,
         zenity
Recommends: jockey-common
Breaks: steam64 (<< 1.0.0.30),
        steam-devices (<< 1.0.0.55),
        steam-launcher (<< 1.0.0.55),
Replaces: steam64 (<< 1.0.0.30),
          steam-devices (<< 1.0.0.55),
          steam-launcher (<< 1.0.0.55),
Description: Launcher for the Steam software distribution service
 Steam is a software distribution service with an online store, automated
 installation, automatic updates, achievements, SteamCloud synchronized
 savegame and screenshot functionality, and many social features.

Package: steam-launcher
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 steam (>= ${source:Version})
Description: Launcher for the Steam software distribution service
 Steam is a software distribution service with an online store, automated
 installation, automatic updates, achievements, SteamCloud synchronized
 savegame and screenshot functionality, and many social features.

Package: steam-devices
Section: oldlibs
Priority: extra
Architecture: all
Depends: steam (>= ${source:Version})
Description: Launcher for the Steam software distribution service (transitional)
 Steam is a software distribution service with an online store, automated
 installation, automatic updates, achievements, SteamCloud synchronized
 savegame and screenshot functionality, and many social features.

 This is a transitional package that can be safely removed once steam is installed.
